	#header {
	    height: 70px;
	 }
	 /* 수강후기 제목 */
	 .titles{
	 	width: 70%;
		margin: 50px auto;
		text-align : center;
		font-size: 1.3rem;
	 }
	 /* 테이블 */
	 .wrap{
	 	width: 70%; margin: 0 auto;
	 }
	 .tables {
	 	border: 1px solid #ddd;
	 	width: 100%;
	 }
	 .tables th, .tables td {
        border-collapse: collapse;
		border: 1px solid #ddd; 
	 }
	 .tables th{
		padding: 10px 10px;
		width: 30%;
		background-color: #0B2161;
		color: white;
		height: 20px;
	}
	.inline{
		text-align: center;
		font-size : 0.9rem;
	}
	.table td{
		padding: 10px 20px;
	}
	.getline{
		text-align : left;
		font-size : 1rem;
		padding: 10px 10px;
		width: 300px;
	}
	 .proposal{
		text-align: center;
		padding: 10px 10px;
		width: 20%;
		background-color: #0B2161;
		color: white; 
		border: 1px solid #ddd;
		font-size : 0.9rem;
	}
	.content {
		width: 100%;
	}
	/* 버튼들  */
	.bottons {
		margin: 20px auto;
	}
	.botton {
		float: right;
		border: 1px solid #0B2161;
		margin: auto;
		background-color: #0B2161;
		width : 80px;
		padding: 3px 7px;
		color: white;
	}
	.botton input{
		color: white;
	}
	.botton:hover {
		background-color: #00B3DC;
		border: 1px solid #00B3DC;
		color: white;
	}