
	#header {
        height: 70px;
        }
    /* 정보수정 */
    .wrap {
	   width: 30%; margin: 3% auto;
	   /* display: block; */
   
	}
	.hakbun > input{
	   width: 80%;
	   height: 30px;
	   border: black 1px solid;
	   margin: 3% 0;
	   padding-left :10px;
	}
	.name > input{
	   width: 80%;
	   height: 30px;
	   border: black 1px solid;
	   margin: 3% 0;
	   padding-left :10px;
	}
	.password1 > input{
	   width: 80%;
	   height: 30px;
	   border: black 1px solid;
	   margin: 3% 0;
	   padding-left :10px;
	}
	.select > select{
	   width: 82%;
	   height: 35px;
	   font-size: 0.8rem;
	   border: black 1px solid;
	   margin: 2% 0;
	   padding-left :10px;
	}
	.phone > input{
	   width: 80%;
	   height: 30px;
	   border: black 1px solid;
	   margin: 3% 0;
	   padding-left :10px;
	}
	.email > input{
	   width: 80%;
	   height: 30px;
	   border: black 1px solid;
	   margin: 3% 0;
	   padding-left :10px;
	}
	.bnt1 > input {
	   width: 41%;
	   height: 30px;
	   background-color: #0B2161;
	   color: white;
	   border: #0B2161;
	   font-size: 1rem;
	}

	
	/* 패스워드 확인 */
	#pwdCheck{
		display: none;
	    position: fixed;
	    background-color: white;
	    border: 1px solid #ddd;
	    width: 20%;
	    height: 25%;
	    /* margin: 10% auto; */
	    text-align: center;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	}
	.pass {
		margin-top: 12%;
		font-size: 1.2rem;
	}
	.password {
		margin : 7% auto;
		border : 1px solid #ddd;
		width : 70%;
		height: 20%;
		text-align: center;
	}
	.bnt {
		border : 1px solid #0B2161;
		width : 20%;
		height: 15%;
		color : white;
		background-color:#0B2161;
		margin-bottom : 10%;
	}
	.bnt:hover {
	     background-color: #81DAF5;
	     color: white;
	}
	.wpass {
		margin-top: 15%;
		color : black;
	}
/* 왼쪽 배너 */
	.sidebanner{
		margin: 88px 7.8%;
		position: fixed;
		border: 1px solid #0B2161;
		width : 12%;
		background-color:#0B2161;
	}
	.banner, h3{
		background-color: #0B2161;
		border: none;
		color: white;
		padding: 10% 0;
		font-size: 1rem;
		text-align: center;
		text-decoration: none;
		display: inline-block; 
		transition-duration: 0.4s;
		margin: 10% auto;
		width:100%;
	}
	.banner:hover {
	     background-color: #81DAF5;
	     color: white;
	     /* width: 100%;
	     height: 20%; */
	
	}
	/* 닫기버튼 */
   .close {
		margin: 0 auto;
		float: right;
		width: 5%;
	}
