
	#header {
        height: 70px;
    }
    /* 검색결과  */
    .searched {
		width: 70%;
		margin: 30px auto;
		text-align : center;
		font-size: 1.3rem;
		/* margin-top: 50px; */
	}
	/* 공지사항 테이블 */
	.wrap{width: 70%; margin: 0 auto;}
	.tables{
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
		margin: 20px auto;
	}
	.tables th, .tables td{
		border: 1px solid #ddd;
		padding: 10px;
		text-align : center;
		font-size : 0.8rem;
	}
	.nothing p {
		text-align : center;
		font-size: 1rem;
	}
	.title { 
		background-color: #0B2161; 
		color : white;
	}
	/* 검색바 */
	.choose {
		width: 70%; margin: 0 auto;
	}
	.search {
		border: black 1px solid;
		width: 80px;
		height: 20px;
		font-size: 0.7rem;
	}
	.search_k {
		border: black 1px solid;
		width: 170px;
		height: 18px;
		font-size: 0.7rem;
	}
	.searchbnt {
		border: 1px solid #0B2161;
		width: 50px;
		height: 20px;
		background-color : #0B2161;
		color: white;
		font-size: 0.8rem;
	}
	.searchbnt:hover {
		background-color : #00B3DC;
		border: 1px solid #00B3DC;
	}
	#footer {
		margin-top: 210px;
	}
	/* 하단바 */
	#footer {
		margin-top: 180px;
	}
