
 	.mydiv{
		float: left;
		border: 1px solid #ddd;
	}
	.tables{
		margin: 2% auto;
		width: 50%
		
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;	
		
	}
	.tableview {
		margin: 0 auto;
		width: 100%;
	}
	th, td {
	    padding: 4%;
	    border: 1px solid #ddd;
	    border-collapse: collapse;
	    text-align: center;
	}
	
	/* 상단배너 */
	#header {
	        height: 70px;
	}
        
	/* 패스워드 확인 */
	#pwdCheck{
		display: none;
	    position: fixed;
	    background-color: white;
	    border: 1px solid #ddd;
	    width: 20%;
	    height: 25%;
	    /* margin: 10% auto; */
	    text-align: center;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	}
	.pass {
		margin-top: 12%;
		font-size: 1rem;
	}
	.password {
		margin : 7% auto;
		border : 1px solid #ddd;
		width : 70%;
		height: 20%;
		text-align: center;
	}
	.bnt {
		border : 1px solid #0B2161;
		width : 20%;
		height: 15%;
		color : white;
		background-color:#0B2161;
		margin-bottom : 10%;
	}
	.bnt:hover {
	     background-color: 81DAF5;
	     color: white;
	}
	.write {
		text-align: center;
		padding : 10px;
		font-size : 1rem;
	}
	.wpass {
		margin-top: 15%;
		color : black;
	}
/* 왼쪽 배너 */
	.sidebanner{
		margin: 110px 7.8%;
		position: fixed;
		border: 1px solid #0B2161;
		width : 12%;
		background-color:#0B2161;
	}
	.banner, h3{
		background-color: #0B2161;
		border: none;
		color: white;
		padding: 10% 0;
		font-size: 1rem;
		text-align: center;
		text-decoration: none;
		display: inline-block; 
		transition-duration: 0.4s;
		margin: 10% auto;
		width:100%;
	}
	.banner:hover {
	     background-color: #81DAF5;
	     color: white;
	     /* width: 100%;
	     height: 20%; */
	
	}
	/* 닫기버튼 */
	.close {
		margin: 0 auto;
		float: right;
		width: 5%;
	}
