
	#header {
        height: 70px;
    }
    .wrap{width: 24%; margin: 50px auto;}
    .email > input{
	   width: 350px;
	   height: 30px;
	   border: black 1px solid;
	   margin: 2% 0;
	   padding-left :10px;
	}
    .hakbun > input{
	   width: 350px;
	   height: 30px;
	   border: black 1px solid;
	   margin: 2% 0;
	   padding-left :10px;
	}
    .phone > input{
	   width: 350px;
	   height: 30px;
	   border: black 1px solid;
	   margin: 2% 0;
	   padding-left :10px;
	}
	/* 학번 찾기 상단 */
	.searchid {
		margin: 0 auto;
		font-size: 1.4rem;
		width: 15%;
		margin-top: 4%;
		text-align: center;
	}
	/* 버튼 */
	.bnt {
		border : 1px solid #0B2161;
		width : 362px;
		height: 30px;
		color : white;
		background-color:#0B2161;
		margin: 2% 0;
	}
	.bnt:hover {
	     background-color: #81DAF5;
	     border : 1px solid #81DAF5;
	     color: white;
	}
	.wpass{
		font-size: 1.1rem;
	}
	
