
	 #header {
	    height: 70px;
	 }
	/* 수강후기 테이블 */
	.wrap{width: 70%; margin: 0 auto;}
	.tables{
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
		/* margin: 20px auto; */
		margin-bottom : 35px:
	}
	.tables th{
		border: 1px solid #ddd;
		padding: 10px;
		text-align : center;
		font-size : 0.9rem;
		background-color:#0B2161;
		color: white; 
	}
	 .tables td{
		border: 1px solid #ddd;
		padding: 10px;
		text-align : center;
		font-size : 0.9rem;
	}
	.titles {
		width: 70%;
		margin: 0 auto;
		text-align : center;
		font-size: 1.3rem;
	}
	.nothing p {
		text-align : center;
		font-size: 1rem;
	}
	.title { 
		background-color: #0B2161; 
		color : white;
	}
	
	/* 검색바 */
	.choose {
		width: 70%; margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.search {
		border: black 1px solid;
		width: 120px;
		height: 20px;
		font-size: 0.7rem;
	}
	.search_k {
		border: black 1px solid;
		width: 200px;
		height: 18px;
		font-size: 0.7rem;
	}
	.searchbnt {
		border: 1px solid #0B2161;
		width: 50px;
		height: 20px;
		background-color : #0B2161;
		color: white;
		font-size: 0.8rem;
	}
	.searchbnt:hover {
		background-color : #00B3DC;
		border: 1px solid #00B3DC;
	}
	/***** 페이지 표시 부분 스타일(시작) ****/
	.paging { 
		list-style: none;
		display: inline-block;
	 }
	.paging li {
		float: left;
		margin-right: 8px;
	}
	.paging li a {
		text-decoration: none;
		display: block;
		padding: 4px 7px;
		border: 1px solid #00B3DC;
		font-weight: bold;
		color: black;
	}
	.paging li a:hover {
		background-color:#00B3DC;
		color: white;
	}
	.paging .disable {
		border: 1px solid silver;
		padding: 4px 7px;
		color: silver;
	}
	.paging .now {
		border: 1px solid #0B2161;
		padding: 4px 7px;
		background-color: #0B2161;
		color: white;
	}
	 .ps{
		display: flex;
		justify-content: center;
		font-size: 0.8rem;
		margin-top: 30px;
	}

	/* 글쓰기 버튼 */
	.write1{
		float: right;
		margin-top :20px;
	}
	.write {
		float: center;
		border: 1px solid #0B2161;
		margin: auto;
		background-color: #0B2161;
		width : 60px;
		padding: 3px 7px;
		color: white;
	}
	.write input{
		color: white;
	}
	.write:hover {
		background-color: #00B3DC;
		border: 1px solid #00B3DC;
		color: white;
	}
	/* 하단바 */
	#footer{
		margin-top: 100px;
	}
