
	#header {
	    height: 70px;
	 }
	 /* 과목정보 제목 */
	 .title{
	 	width: 70%;
		margin: 50px auto;
		text-align : center;
		font-size: 1.3rem;
	 }
	 /* 테이블 */
	 .wrap{
	 	width: 70%; margin: 0 auto;
	 }
	 .table {
	 	border: 1px solid #ddd;
	 	width: 100%;
	 }
	 .table th, .table td {
        border-collapse: collapse;
		border: 1px solid #ddd; 
	 }
	 .table th{
		padding: 10px 10px;
		width: 30%;
		background-color: #0B2161;
		color: white;
		height: 20px;
	}
	.inline{
		text-align: center;
		font-size : 0.9rem;
	}
	.table td{
		padding: 10px 20px;
	}
	.getline{
		text-align : left;
		font-size : 1rem;
	}
	 .proposal{
		text-align: center;
		padding: 10px 10px;
		width: 20%;
		background-color: #0B2161;
		color: white; 
		border: 1px solid #ddd;
		font-size : 0.9rem;
	}
	.content {
		width: 100%;
	}
	/* 버튼들  */
	.bottons {
		margin: 20px auto;
	}
	.botton {
		float: right;
		border: 1px solid #0B2161;
		margin: auto;
		background-color: #0B2161;
		width : 60px;
		padding: 3px 7px;
		color: white;
	}
	.botton input{
		color: white;
	}
	.botton:hover {
		background-color: #00B3DC;
		border: 1px solid #00B3DC;
		color: white;
	}
	/* 댓글 */
	.comment {
		margin : 30px auto;
		margin-top : 50px;
	}
	.write {
		margin: 10px auto;
		font-size : 1rem;
	}
	.writing {
		padding : 20px;
		border: 1px solid black;
	}
	.hr {
		margin: 20px auto;
		border: 1px solid black;
	}
	/* 패스워드 확인 */
	#pwdCheck{
		display: none;
	    position: fixed;
	    background-color: white;
	    border: 1px solid #ddd;
	    width: 20%;
	    height: 25%;
	    /* margin: 10% auto; */
	    text-align: center;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
	}
	 .pass {
		margin-top: 12%;
		font-size: 1.2rem;
	}
	.hakbun {
		margin : 7% auto;
		border : 1px solid #ddd;
		width : 70%;
		height: 10%;
		text-align: center;
	}
	.btn1 {
		border : 1px solid #0B2161;
		width : 20%;
		height: 15%;
		color : white;
		background-color:#0B2161;
		margin-bottom : 10%;
	}
	.btn1:hover {
	     background-color: #81DAF5;
	     color: white;
	}
	.wpass {
		margin-top: 15%;
		color : black;
	}

	/* 닫기버튼 */
	.close{
		margin : 0 auto;
		float: right;
		width: 5%;
		
	}